<h1>Calculate Your Scrabble Score!</h1>
<form action = "/title">
<div class = "form-group">
<label for = "title">what in scrabble?</label>
<input id = "title" name = "title" class = "form-control" type = "text">
</div>
<button type = "submit" class = "btn-success">Send</button>
</form>
